* {
    margin: 0;
    padding: 0;
} 

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container{
    width: 1920px;
    height: 3105px;
    margin: 0 auto;
    background-color: #f7f7f7;
}
.body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
.slider{
    /* height: 3116px; */
    /* background-color: honeydew; */
    border: 2px rgb(187, 16, 16);
}

/* ------------------- Стилизуем заголовок -----------------*/
.header{
    margin-top: 12px;
    height: 83px;
    /* border: 2px solid red; */
}

.logo-line{
    height: 83px;
    width: 1920px;    
    background-image: url(img/header.svg) ;
}

.div_logo{
    width: 172px;
    height: 46px;
    margin-left: 475px;
    margin-top: 19px;
    /* border: 2px solid red; */
    display: block;
}

.name1{  
    width: 169px;
    height: 29px;  
    color: #ffffff;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22.36px;
    text-align: left;
    letter-spacing: 0.77px;   
}

.name2{       
    color: #ffffff;
    font-family: Poppins;
    font-size: 15px;
    margin-bottom: 18px;  
    margin-left: 3px;  
    letter-spacing: 29px;    
    
}

.div_phone{
    /* width: 150px;
    height: 25px; */
    margin-left: 158px;
    margin-top: 28px;
    /* border: 2px solid red; */
    display: block;
}

.phone{   
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 17px;    
    letter-spacing: 0.36px;
    margin-top: 2px;
    margin-left: 10px;    
}

.div_email{
    /* width: 167px;
    height: 30px; */
    margin-left: 39px;
    margin-top: 32px;
    /* border: 2px solid red; */
    display: block;
}

.email{   
    
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 17px;    
    letter-spacing: 0.36px;    
    margin-left: 14px;
}

.div_search{
    
    margin-left: 100px;
    margin-top: 23px;
}


input[placeholder="Search"]{
    
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 400;
    padding-left: 7px; 
}

.searsh_enter,
.searsh_data{
    background-color: #4a4a4a;
    border: 1px solid  #ffffff;
    height: 35px;
}

.searsh_data{    
    width: 150px;    
}

.searsh_enter{        
    width: 45px;  
    margin-left: -2px;    
}

img[alt="lupa"]{    
    margin-left: 12px;
    margin-top: 8px;
}

/* --------------------------- Стилизуем меню ------------------------ */

.div-menu-line{
    height: 78px;
}

.menu{
    margin-left: 704px;
    padding-top: 32px;
}

.menu-list{
    list-style-type: none;
    float: left;
}

.logo-line-content{
    float: left;
}

.menu-link{
    width: 511px;
    height: 16px;   
    color: #8c8c8c;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 400;    
    letter-spacing: 0,36px;
    /* line-height: 22.36px;     */
    text-decoration: none;
    padding: 29px 15px 25px;


}

.menu-link-active{
    color: #000000;
    font-weight: 400;
    border-bottom: 3px solid #000000;
}

.menu_bottom_line{
    margin-top: 0px;
   
}

/* -------------------------- Стилизуем продающуюся игру ------------------ */

/* блок с картинками */

.div_current_game{
    margin-top: 174px;
    margin-left: 475px;
    float: left;
}

.foto1{
    margin-left: 15px;
    margin-top: 41px;
}

.foto1,
.foto2,
.foto3,
.foto4{ 
    float: left; 
    /* border: 2px solid red;   */
}
.foto2,
.foto3,
.foto4{
    margin-top: 65px;    
    padding-left: 15px;    
}

/* блок с описанием и ценой */

.div_content_game{
    width: 470px;
    height: 400px;
    margin-left: 975px;
    margin-top: 175px;  
    text-align: center;
    /* border: 2px solid red; */    
}

.Assasin{    
    width: 291px;
    height: 75px;
    color: #000000;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;    
    line-height: 27px;
    text-align: center;
    display: inline;
}

.rouge{
    width: 291px;
    height: 75px;
    font-family: Poppins;
    font-size: 36px;
    color: #f44336;    
    display: inline;
    text-align: top;
    line-height: 27px;

}
.price{   
    width: 187px;
    height: 56px;
    color: #000000;
    font-family: Poppins;
    font-size: 62px;
    font-weight: 300;    
    text-align: center;
    display: inline-block;
    margin-top: 21px;
}

.btn-buy{
    display: block;
    width: 472px;
    height: 62px;
    border:none; 	
    background-color: #f44336;	
    color: #ffffff;    
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;    
    text-align: center;
    text-decoration: none;
    padding-top: 18px;
    line-height: 46px;
}

.div-content-game-txt{
    margin-top: 32px;
}

.content-game-txt{    
    width: 463px;
    height: 153px;
    color: #999999;
    font-family: "Roboto Condensed";
    font-size: 12px;
    font-weight: 300;    
    line-height: 24px;
    text-align: left;
}

/* ------------------------------------- Стилизуем  Similar games --------------------------------*/

.div-other-games{
    width: 1920px;
    height: 684px;
    background-color: #e3e3e3;
    margin-top: 178px;
    text-align: center;
    display: block;
}

.div-list-games{
    margin-top: 31px;    
}

.Header-other-games{
    
    height: 38px;
    color: #f44336;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    display:inline-block;
    text-align: center;
    /* margin-top: 49px; */
    padding: 49px;

}

.game-1{
    margin-left: 373px;
}

.game-1,
.game-2,
.game-3,
.game-4{
    
    width: 270px;
    height: 378px;
    padding: 0px 15px;
    float: left;
    text-align: center;
    
}

.name-game{
    
    height: 12px;
    color: #000000;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 23.94px;
    text-align: center;
    text-transform: uppercase;
    
}

.btn-buy-other{
    
    display:inline-block;    
    width: 130px;
    height: 30px;
    background-color: #f44336;
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
}

.btn-buy-other-1{
    margin-top: 18px;
}

/* ------------------------------- Стилизуем Contact Us ------------------------------- */

.div-contact{   
    margin-top: 174px;
    /* text-align: center; */
    display: block;
}

.header-contact-us{
    
    height: 27px;
    color: #f44336;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    display: block;
}

.div-adress{
    
    margin-top: 123px;
    margin-left: 479px;
    float: left;
    display: inline;
    text-align: left;
}

.header-adress{
    
    width: 201px;
    height: 20px;
    color: #f44336;
    font-family: "Roboto Condensed";
    font-size: 26px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
}

.adress{    
    width: 385px;
    height: 201px;
    color: #9e9e9e;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;    
    line-height: 17px;
    text-align: left;
}

.email2{
    color: #f44336;
    margin-left: 3px;
    display: inline-block;
}

.div-submit{
    margin-left: 75px;
    margin-top: 120px;
    width: 471px;
    height: 300px;
    display: inline-block;
}

.input-name,
.email-contact-us{
   
    width: 471px;
    height: 47px;
    border: 1px solid #000000;
    background-color: #f7f7f7;
    
}

.message{   
    
    width: 471px;
    height: 138px;
    border: 1px solid #000000;
    background-color: #f7f7f7;
    
}

.div-email-contact-us,
.div-message{
    margin-top: 24px;
}

textarea[placeholder="Message"],
input[placeholder="Name"],
input[placeholder="Email"]{

    
    padding-left: 5px;    
    display: block;    
    color: #8e8e8e;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;    
    
}

.div-btn-submit{
    margin-top: 23px;   
}

.btn-submit{
    
    width: 140px;
    height: 39px;
    background-color: #f44336;    
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 14px;    
    line-height: 38px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;      
}

/* ------------------------------- Route Map ------------------------------- */
.div-map{
    margin-top: 167px;
    display: block;
}

.header-route-map{     
    
    height: 36px;
    color: #f44336;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;    
    line-height: 48px;
    text-align: center;
    display: block;    
}

.map{    
    width: 970px;
    height: 300px;
    margin-top: 104px;
    margin-left: 476px;
    display: block;

}

/* --------------------------------------- footer ------------------------------ */

.div-footer{
   margin-top: 174px;
    width: 1922px;
    height: 71px;
    background-color: #000000;
    
}

.footer-text,
.footer-text2{ 
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 16px;
}

.footer-text2{
    color: #f44336;
    display: inline-block; 

}

.div-footer-text{
    
    margin-left: 744px;
    margin-top: 28px;
    display: inline-block;
}