.contacts > h2 {
	font-weight: 600;
	margin: 0px 0px 40px 0px;
}

.contacts .map {
	margin-top: 30px;
	outline: 1px solid lightgray;
}

.contact-form {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid lightgray;
}

.contact-form label {
	display: inline-block;
	vertical-align: top;
	width: 170px;
	text-align: right;
	margin-right: 10px;
}

.contact-form input[type="text"],
.contact-form textarea {
	width: 500px;
	padding: 5px 10px;
	border: 1px solid lightgray;
	border-radius: 3px;
	resize: none;
	font-family: inherit;
	font-size: 15px;
	color: #444;
}

.contact-form .form-actions {
	padding-left: 185px;
}

.contact-form .form-actions input {
	display: inlilne-block;
	margin-right: 10px;
	width: 180px;
	height: 28px;
}

.contact-form input[id="emailField"]:focus {
	background-color: #dfe;
	color: darkblue;
	font-weight: 600;
}

.contact-form input[type="text"]:not([id="emailField"]),
.contact-form textarea {
	text-transform: capitalize;
}
