
.dobro 
{
    background: #00ffdd;
	text-align: center;
	font-size: 25px;
	border: 30%;
}

p {font-size: 20px;


}

.form {
	margin-bottom: 10px; }

.black  {
 color:  black;
 color: #707070; 
 font-size: 14px;
 font-style: italic;
 line-height: 16px;
}

.black2
{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.red2  {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.red  {
 color:  black;
 color: #707070; 
 font-size: 14px;
 font-style: COMIC;
 line-height: 16px;
}


ul.menu a:hover {
	font-size: 18px;
	color: #4400ff;
}
ul.menu a {
	font-weight: normal;
	font-size: 18px;
	color: black
	}
ul.menu li {
	font-size: 40px;
	color: #00ff00;
}

 a
  {
            font-family: italic;
            font-size: 17px;
            color: #965858;
            padding: 10px 10px;
            
           
            
            border-radius: 25px;
            

            display: inline-block;
            text-decoration: none;}
            .logo1 {
                border: solid;
                border-color: red;
            }
            .logo1:hover {
                border: none;
                margin: 3px;
            }
 p
        


        li {list-style-type: none} 


        h1
        {
    background: #fbff00;
	text-align: center;
	font-size: 30px;
	letter-spacing: 4px;
	font-family: "times";
	border: 45%;
        }

input[type="email"]:focus 
{
	color: #0000ff;
	background-color: #4c00ff;
    color: #ff0000;
}
input[type="text"],
    textarea {
    text-transform: capitalize;
    }

.heading
h3,
body {
	background: #f8f8f8;
}
 { 
    color: black; 
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
    text-align: center;

 }

 input[type="text"],
textarea {
	text-transform: capitalize;
}

td,
th {
	border: 1px solid black;
}
table {
	border-collapse: collapse;
}
td,
th {
	width: 150px;
	height: 30px;
	text-align: center;
}
 .opisanie .opisanie {
	font-size: 16px;
	line-height: 24px;
	color: #484343;
	font-weight: 400;
	text-align: left;
}
.opisanie .opisanie2 {
	font-size: 14px;
	line-height: 16px;
	color: #707070;
	font-style: italic;
 
opisanie
{
	color: red;
		
}

}
.opisanie figure p:first-letter {
	color: #ff0000;
	font-size: 20px; }