table {
    border: 1px solid #000
}
td {
    border: 1px solid #000
}
.table {
    height: 100px;
    width: 300px;
    border-collapse: collapse;
    
}
.har td {
    height: 30px;
    background-color: darkgray;
    text-align: center;
}
.har {
    text-align: center; /*Выравнивание текста в ячейке*/
}

img:hover {
    border-color: transparent; /*исчезание рамки*/
}