h1,
h4,
h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea /*изменение шрифтов заголовков*/
}

.brief {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.detailed {
    color: #484343;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: left
}

.menu2 li {
    color: darkred;
    list-style: square;
    font-style: oblique;
}

img[alt="упс"] {
    border: 4px solid grey;
    /*рамка вокруг картинки*/
}

.menu2 li {
    background: url(../img/marker.png) no-repeat;
    padding-left: 24px;
    line-height: 1.5;
    list-style: none
        /*изменение маркера списка на другие рисунки*/
}
