h4 {
    color: red; /*изменение текста заголовков*/
}

body {
    background-color: #f8f8f8 /*Изменеие цвета фона*/
}

.menu li {
    font-style: italic;
    font-size: 20px;
    list-style: none /*изменеие меню: размер, начертание, исключение маркеров*/
}

.menu li a {
    color: #8B00FF;
}

input[type="text"] {
    width: 250px;
    height: 25x;
    /*Изменение ширины и высоты полей ввода*/
    color: darkblue;
    font-size: 16px;
    
}
