* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.conteiner {
    width: 1366px;
    margin: 0 auto;
}


.slider {
    height: 800px;
    background-image: url(img/slider-img.jpg);
    position: relative
}

.menu {
    float: right
}

.header {
    padding-top: 63px;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.menu-link:hover {
    color: #212121;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.slider-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;

}

.slider-h2 {
    /* Style for "Fishnet Ch" */
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;


}

.slider-content {
    /* Style for "Seat and b" */
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    width: 458px;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 24px;

}

.slider-text {
    margin-top: 283px;
}

.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;


}

.pagination {
    position: absolute;
    width: 1170px;
    bottom: 18px;
    text-align: center;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;

}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0;
}

.circle:hover {
    background-color: #212121
}

.galery {
    height: 609px;
    padding-top: 120px;
    clear: both;
}

.gal-button-1 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    margin-left: 107px;
    border-collapse: collapse
}

.gal-button-1:hover {
    color: #ccc
}

.gal-button-2 {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    border-bottom: #ccc;
    border-collapse: collapse
}

.gal-button-2:hover {
    color: #ccc;
}

.gal-button-explore {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    float: right;
    margin-right: 118px;
    margin-top: 18px;
    border-collapse: collapse;
    letter-spacing: 3.6px;
    text-decoration: none;

}

.arrow {}

.gal-button-explore:hover {
    color: #ccc
}

.slider2 {
    padding-top: 72px;
    padding-left: 98px;
}

.product {
    width: 270px;
    height: 270px;
    float: left;
    margin-right: 30px;
}

.prod-active {
    width: 270px;
    height: 270px;
    text-align: center;
    border: solid 0.5px #ccc;
    padding-top:
}

.button1 {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 24px;
    background-color: #ffffff;
    display: block;
    width: 48px;
    height: 48px;
    margin-left: 111px;
    margin-top: 62px;
}

.button1:hover {
    box-shadow: none;
}

.arrow2 {
    width: 12px;
    height: 20px;
    margin-top: 14px;

}

.s2head {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    margin-top: 19px;
}

.s2text {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    margin-top: 23px;
}


.block-firstpart {
    background-image: url(img/promo-img1.jpg);
    width: 683px;
    height: 683px;
    float: left;
    display: inline-block;


}

.block-secondpart {
    background-image: url(img/promo-img.jpg);
    width: 683px;
    height: 683px;
    display: inline-block;

}

.exclusive-text {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    margin-top: 228px;
    margin-left: 51px;
}

.h1 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    margin-top: 18px;
    margin-left: 51px;
}

.text1 {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    margin-top: 24px;
    max-width: 374px;
    margin-left: 51px;
}

.bt2 {
    margin-left: 51px;
    margin-top: 34px;
}

.header3 {
    padding-left: 98px;
}

.trend {
    float: left;
    margin-top: 119px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.gbe2 {
    margin-top: 137px;
    float: right;

}

.galery3 {
    padding-left: 98px;
    padding-top: 64px;
}

.prodbox {
    display: inline-block;
    margin-right: 30px
}

.galerygeneral {
    height: 1108px;
}

.slider3 {
    height: 800px;
    background-image: url(img/slider2.jpg);
    position: relative;


}

.slider-hotdeal {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;

}

.pagination2 {
    position: absolute;
    width: 1170px;
    bottom: 18px;
    text-align: center;
}

.hottext {
    padding-top: 287px;
}

.galery4 {
    width: 1170px;
    height: 570px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.fishnet-main {
    height: 570px;
    width: 570px;
    background-image: url(img/product-1-lg.jpg);
    position: relative;
    float: left;
    margin-right: 30px;
}

.fishnet-text {
    padding-top: 186px;
    padding-left: 30px;
}

.fish-ex {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
}

.fish-head {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.fish-text {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    width: 332px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

.fishnet-other {
    display: block;
}

.fishlist {
    list-style-type: none;
    float: left;
    padding-bottom: 30px;

}

.fishnet-pictures li:first-child {
    padding-right: 30px;
}

.fishnet-pictures li:nth-child(3) {
    padding-right: 30px;
}

.fff {
    height: 516px;
    background-image: url(img/back-img.jpg)
}

.mobile {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.fffh1 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    width: 550px;
    line-height: 72px;
}

.ffftext {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 33px;
    line-height: 24px;
}

.ffftextall {
    padding-top: 125px;
}

.footer {
    width: 1170px;
    height: 264px;
    padding-top: 120px;
    background-color: #f7f7f7;
}

.footerCap:hover {
    color: #212121;
}

.footerCap {
    height: 37px;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    font-style: light;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.anyLink {
    text-decoration: none;
}

.useInf {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.firstLine {
    height: 50px;
}

.column1 {
    width: 220px;
}

.cell-2-3 {
    width: 500px;
}

.column4 {
        width: 370px;
    }
.secondLine, .thirdLine, .fourthLine, .fifthLine {
    height: 24px;
}

.column2 {
    width: 235px;
}

.column3 {
    width: 265px;
}

.suscribe {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    font-style: light;
    letter-spacing: normal;
    text-align: left;
    width: 320px;
    padding-right: 50px;
}

.footer-footer {
    height: 28px;
    padding-top: 67px;
}

table {
    max-width: 1170px;
}

.footerCell-1 {
    width: 520px;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.footerCell-2 {
    width: 280px;
}

.footerCell-3 {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.email1 {
    height: 48px;
    width: 370px;
    border: 1px solid #d9dee1;
    background-color: #ffffff;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
}

.product:hover {
    outline: 3px solid black;
}

.bt2:hover {
    box-shadow: none;
}

.prodbox:hover {
    outline: 1px solid black;
}

.button:hover {
     box-shadow: none;
}
